<template>
<div>
  <v-card v-if="isLoggedIn" class="mx-auto">
    <v-card-text>
      <h1>{{listTitle}} ({{totalCount}})</h1>
    </v-card-text>

    <v-container>
      <v-row align="end">
        <!-- alte auswahl der Suchfelder -->
        <v-col cols="12" md="2" v-if="false">
          <v-select :items="searchFields" v-model="searchField" label="Suchfeld" single-line multiple></v-select>
        </v-col>

        <v-col cols="12" md="2">
          <v-text-field v-model="search" append-icon="mdi-magnify" label="Suchbegriff eingeben..." single-line hide-details></v-text-field>
        </v-col>

        <v-col cols="12" md="2">
          <FilterEditor v-model="filter" :model="model" :editFilter="editFilter" />
        </v-col>
        <v-col cols="12" md="8">
          <FilterDisplay :filter="filter" :editFilter="editFilter" />
        </v-col>


      </v-row>
    </v-container>


    <v-data-table :headers="headers" :items="tableItems" :loading="tableIsLoading" :server-items-length="totalCount" :items-per-page.sync="itemsPerPage" :search.sync="search" :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc" :page.sync="page" :footer-props="footerProps" dense must-sort loading-text="Lade Daten... Bitte warten.">
      <!--
      <template slot="headers" slot-scope="props">
       <tr>
         <th>
           <v-checkbox
             :input-value="props.all"
             :indeterminate="props.indeterminate"
             primary
             hide-details
             @click.native="toggleAll"
           ></v-checkbox>
         </th>
         <th
           v-for="header in props.headers"
           :key="header.text"
           :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
           @click="changeSort(header.value)"
         >
           <v-icon small >arrow_upward</v-icon>
           <v-icon class='no-rotate' @click.stop small @click="filter(header.value)">filter_list</v-icon>
           {{ header.text }}
         </th>
       </tr>
     </template>
     <template slot="items" slot-scope="props">
       <tr :active="props.selected" @click="props.selected = !props.selected">
         <td>
           <v-checkbox
             :input-value="props.selected"
             primary
             hide-details
           ></v-checkbox>
         </td>
         <td>{{ props.item.name }}</td>
         <td class="text-xs-right">{{ props.item.calories }}</td>
         <td class="text-xs-right">{{ props.item.fat }}</td>
         <td class="text-xs-right">{{ props.item.carbs }}</td>
         <td class="text-xs-right">{{ props.item.protein }}</td>
         <td class="text-xs-right">{{ props.item.iron }}</td>
       </tr>
     </template>


       <template v-for="head in headers" v-slot:[`header.${head.value}`]>


        <v-hover v-slot="{ hover }" :key="head.value" close-delay="1000">
          <span>
            {{head.text.text || head.text}}
            <v-expand-transition>
              <v-menu offset-y v-if="hover">
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    small
                    v-bind="attrs"
                    v-on="on"
                  >
                    mdi-filter
                  </v-icon>
                </template>
                <v-list>
                  <v-list-item
                    v-for="(item, index) in [{title:'<'}]"
                    :key="index"
                  >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>

            </v-expand-transition>
          </span>
        </v-hover>

       </template> -->


      <template v-slot:item.gemeinnuetzig="{ item }">
        <v-simple-checkbox v-model="item.gemeinnuetzig" disabled></v-simple-checkbox>
      </template>
      <template v-slot:top>

        <v-toolbar flat>
          <v-btn
           class="mx-2"
           fab
           dark
           small
           color="accent"
           @click="reload"
           >
           <v-icon dark>
             mdi-refresh
           </v-icon>
         </v-btn>
         <CSVexport :filter="where" caption="CSV-Export" :model="model" :listName="listName" :exportName="listName" :queryFields="queryFields" :sort="orderBy" />

          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" :max-width="editedIndex === -1 || sublists.length === 0?'800px':'none'">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="accent" dark class="mb-2" v-bind="attrs" v-on="on">
                {{newRecord}}
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-row>
                  <v-col cols="12" sm="12" :xl="editedIndex === -1 || sublists.length === 0?12:6">
                    <v-form v-model="valid">
                      <v-container>
                        <v-row>
                          <v-col cols="12" :sm="value.colspan" :md="value.colspan" v-for="(value, name, index) in formFields" :key="index">
                            <v-text-field v-if="isTextField(value.type)" :type="value.type" v-model="editedItem[name]" :label="value.label" :required="value.required" :rules="value.rules"></v-text-field>

                            <SelectList
                              v-if="value.type === 'select' && value.options === undefined"
                              v-model="editedItem[name]"
                              :defaultSelected="editedItem[name]"
                              :label="value.label"
                              :required="value.required"
                              :rules="value.rules"
                              :model="value.model"
                              :listName="value.listName"
                               />
                            <v-select
                             v-if="value.type === 'select' && value.options !== undefined"
                             v-model="editedItem[name]"                             
                             :label="value.label"
                             :required="value.required"
                             :rules="value.rules"
                             :items="value.options"
                              item-text="d"
                              item-value="v"
                              />

                            <v-textarea v-if="value.type === 'textarea'" v-model="editedItem[name]" :label="value.label"></v-textarea>
                            <v-checkbox v-if="value.type === 'checkbox'" v-model="editedItem[name]" :label="value.label" />
                            <v-menu v-if="value.type === 'date'" :close-on-content-click="true" :nudge-right="40" transition="scale-transition" offset-y min-width="290px">
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field v-model="editedItem[name]" :label="value.label" prepend-icon="mdi-calendar" v-bind="attrs" v-on="on"></v-text-field>
                              </template>
                              <v-date-picker v-model="editedItem[name]" locale="de-de" :no-title="true"></v-date-picker>
                            </v-menu>
                          </v-col>
                          <v-flex v-if="error" class="text-xs-center" mt-5>
                            <v-alert style="white-space:pre-wrap" type="error">{{error}}</v-alert>
                          </v-flex>
                        </v-row>
                      </v-container>
                    </v-form>
                  </v-col>
                  <v-col cols="12" sm="12" :xl="editedIndex === -1?12:6" v-if="editedIndex !== -1 && sublists.length > 0">
                    <v-card-title>
                      <span>Vereinsdaten</span>
                    </v-card-title>
                    <v-card>
                      <v-tabs v-model="tab" background-color="primary" dark>
                        <v-tab v-for="item in sublists" :key="item.name">
                          {{ item.label }}
                        </v-tab>
                      </v-tabs>

                      <v-tabs-items v-model="tab">
                        <v-tab-item v-for="item in sublists" :key="item.name">
                          <v-card flat>
                            <v-card-text>
                              <Sublist :parent="editedItem" :model="item" :listName="item.name" :listTitle="item.label" :rules="rules" />
                            </v-card-text>
                          </v-card>
                        </v-tab-item>

                      </v-tabs-items>
                    </v-card>
                  </v-col>
                </v-row>

              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="secondary" text @click="close">
                  Abbrechen
                </v-btn>

                <v-btn v-if="valid" :loading="loading" :disabled="loading" color="accent" class="ma-2 white--text" @click="save">
                  Speichern
                  <v-icon right dark>
                    mdi-cloud-upload
                  </v-icon>
                </v-btn>

              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="600px">
            <v-card>
              <v-card-title class="headline">Wollen Sie diesen Verein wirklich löschen?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete">Abbrechen</v-btn>
                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon small @click="deleteItem(item)">
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
  </v-card>
  <Forbidden v-if="!isLoggedIn" />
</div>
</template>
<script>
import gql from 'graphql-tag';
import Forbidden from './Forbidden';
import Sublist from './Sublist';
import rules from './../helpers/rules';
import gqlCreator from './../helpers/gqlCreator';
import helpers from './../helpers/functions';
import SelectList from './SelectList';
import FilterEditor from './FilterEditor';
import FilterDisplay from './FilterDisplay';
import CSVexport from './CSVexport';
//import model from './../helpers/model';

//type helper
const isEditable = function(field){
  if(field === false || field === undefined){
    return false;
  }
  return typeof field === 'string' || typeof field === 'object' && field.type !== 'list' && field.type !== 'media' && field.editable === undefined || field.editable;
};
const fieldType = function(field){
  if(typeof field === 'object'){
    if(field.type){
      return field.type;
    }
  }
  return "text";
};


export default {
  components: {
    Forbidden,
    Sublist,
    SelectList,
    FilterEditor,
    FilterDisplay,
    CSVexport
  },
  props: {
    isLoggedIn: {
      type: Boolean,
      required: true
    },
    model:{
      type: Object,
      required: true,
    },
    searchFields:{
      type: Array,
      required: false,
    },
    listName:{
      type: String,
      required: true
    },
    listTitle:{
      type: String,
      required: true
    },
    typeKey:{
      type: String,
      required: true
    },
    mutationKey:{
      type: String,
      required: true
    },
    newRecordBtnTxt:{
      type: String,
      required: false
    }
  },
  data() {
    return {
      editFilter:[],
      filter:[],
      valid: false,
      loading: false,
      tab: undefined,
      footerProps: {
        showFirstLastPage: true,
        firstIcon: 'mdi-arrow-collapse-left',
        lastIcon: 'mdi-arrow-collapse-right',
        prevIcon: 'mdi-minus',
        nextIcon: 'mdi-plus',
        "items-per-page-all-text": "Alle",
        "items-per-page-text": "Datensätze je Seite:",
        itemsPerPageOptions: [10, 50, 100],
      },
      items: [],
      search: '',
      itemsConnection: {},
      itemsConnectionQuery: {},
      itemsPerPage: 20,
      first: 0,
      page: 1,
      sortBy: this.defaultSearchField,
      sortDesc: false,
      editedIndex: -1,
      dialog: false,
      dialogDelete: false,
      editedItem: {},
      defaultItem: {},
      error: null,
      rules: rules
    };
  },
  computed:{
    newRecord(){
      return this.newRecordBtnTxt || 'Neuer ' + this.listName.substr(0,this.listName.length-2);
    },
    tableIsLoading(){
      return this.$apollo.loading || this.loading;
    },
    queryFields(){
      let model = this.model;
      let queryFields = '';
      for (let field in model) {
        if (model[field].type !== 'list' && model[field].type !== 'media' && (model[field].type !== 'select' || model[field].reference === false)) {
          queryFields += field + '\n'
        }else if(model[field].query){
          queryFields += field + '{';
            for(let subF in model[field].model){
              queryFields += subF + '\n';
            }
          queryFields += '}\n';
        }
      }
      return queryFields;
    },
    sublists(){
      let model = this.$props.model;
      let subLists = [];
      for (let field in model) {
        if (model[field].type === 'list' || model[field].type === 'media'){
          subLists.push({
            name: field,
            label: model[field].text,
            model: model[field].model,
            key: model[field].key,
            type: model[field].type,
            editable: model[field].editable,
            newRcrdBtnTxt: model[field].newRcrdBtnTxt,
            mutationKey: model[field].mutationKey,
            createMutation: model[field].createMutation,
            typeKey: model[field].typeKey
          });
        }
      }
      return subLists;
    },
    newRcrdBtnTxt(){
      return this.$props.model.newRcrdBtnTxt || 'Neuer Datensatz';
    },
    listIsEditable(){
      return this.$props.model.editable === undefined || this.$props.model.editable;
    },
    tableItems(){
      const model = this.$props.model;
      let tableList = [];
      for(let i = 0; i < this.items.length;i++){
        let x = this.items[i];
        tableList.push({});
        for(let field in x){
          if(model[field] !== undefined){
            if(typeof model[field] === 'object' && model[field].visible === undefined || model[field].visible){
              switch(model[field].type){
                case 'date':
                   tableList[tableList.length-1][field] = helpers.getLocalDateString(x[field]);
                  break;
                case 'datetime':
                  tableList[tableList.length-1][field] = helpers.getLocalDateString(x[field],{ weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit' });
                  break;
                case 'select':
                  if(typeof x[field] === 'object'){
                      tableList[tableList.length-1][field] = x[field]!==null?x[field][model[field].short]:null;
                  }else{
                    tableList[tableList.length-1][field] = x[field];
                  }
                  break;
                case 'media':
                  if(typeof x[field] === 'object'){
                    if(x[field].length === 0){
                      return [];
                    }else{
                      for(let m = 0; m < x[field].length; m++){
                        tableList[m] = {};
                        for(let subfield in x[field][m]){
                          tableList[m][subfield] = x[field][m][subfield];
                        }
                      }
                    }
                  }else{
                    throw('unexpected input for type media');
                  }
                break;
                default:
                  tableList[tableList.length-1][field] = x[field];
              }
            }else if(model[field].visible === undefined || model[field].visible){
              tableList[tableList.length-1][field] = x[field];
            }
          }
        }
      }
      return tableList;
    },
    formFields(){
      let model = this.$props.model;
      let formObject = {};
      //let createVerein = this.editedIndex === -1;
      for(let field in model){
        if(isEditable(model[field])){
          formObject[field] = {
            name: field,
            label: model[field].text || (typeof model[field] === "string"?model[field]:field),
            type: fieldType(model[field]),
            colspan: model[field].colspan || 6,
            required: model[field].required || false,
            rules: this.rules[model[field].rules] || [],
            model: model[field] || null,
            listName: model[field].listName,
            options: model[field].options
          };
          if(formObject[field].required){
            formObject[field].label+='*';
          }
        }
      }
      return formObject;
    },
    formTitle () {
      if(this.model.type==='media'){
        return 'Dateien hochladen';
      }
      return this.editedIndex === -1 ? 'Neuen Datensatz anlegen' : 'Datensatz bearbeiten'
    },
    where () {
      let model = this.model;
      //kein Filter
      if(this.search.length < 3 && this.filter.length === 0){
        return {};
      }
      let whereStatement = {
        _or: []
      };
      for (let i = 0; i < this.searchFields.length; i++) {
        let pusher = {};
        let pushIt = true;
        if(model[this.searchFields[i]] !== undefined){
          switch (model[this.searchFields[i]].type) {
            case 'number':
              if(!isNaN(Number(this.search))){
                pusher[this.searchFields[i]] = Number(this.search);
              }else{
                pushIt = false;
              }
              break;
            case 'checkbox':
              pusher[this.searchFields[i]] = Boolean(this.search);
              break;
            default:
              pusher[this.searchFields[i] + "_contains"] = this.search;
          }
        }
        if(pushIt){
          whereStatement._or.push(pusher);
        }
      }

      if(this.filter.length > 0){
        //combine?
        //console.log(this.filter);
        //console.log(whereStatement);
        //return [whereStatement,{_or:this.filter}];
        let filterWhere = {_or:[]};
        let that = this;
        this.filter.map(function(x){
          let andO = {};
          x.map(function(a){
            for(let key in a){
                andO[key] === undefined
                ?
                andO[key] = a[key]
                :
                typeof andO[key] ==='string'
                ?
                andO[key] = [andO[key],a[key]]
                :
                andO[key].push(a[key]);
            }
          });
          filterWhere._or.push(andO);
        });
        //no search and just one or condition
        // if(this.filter.length === 1 && that.search.length<3){
        //   return filterWhere._or[0];
        // }
        if(that.search.length>2 && this.filter.length > 0){
          whereStatement._or = filterWhere._or.map(function(o){
              o._or = whereStatement._or;
              return o;
          });
        }else{
          // if(filterWhere._or.length === 1){
          //   return filterWhere._or[0];
          // }
          console.log(JSON.stringify(filterWhere));
          return filterWhere;
        }
        //combined filters
        return whereStatement;
      }
      //only search
      return whereStatement;
    },
    last: function(){
      return this.first + this.itemsPerPage;
    },
    totalCount:function(){
      //return 0;
      return this.itemsConnection.aggregate?this.itemsConnection.aggregate.count:0;
    },
    orderBy() {
      let sort = typeof this.sortBy === 'object' ? this.sortBy[0] : this.sortBy;
      if (this.sortDesc) {
        return sort + ":desc"
      }
      return sort
    },
    headers(){
      // return headers from model with actions column
      let headers = [  { text: 'Actions', value: 'actions', sortable: false }];
      let model = this.$props.model;
      for (let field in model){
        if(typeof model[field] === 'string' || typeof model[field] === 'object' && model[field].type !== 'list' && model[field].type !== 'media' && model[field].visible === undefined || model[field].visible){
          headers.push({
            text: model[field].text || typeof model[field] === "string"?model[field]:field,
            value: field,
            editable: model[field].editable || true
          });
        }
      }

      return headers;
    },
    newData(){
      let dataRecord = this.editedItem;
      let newData = {};
      for(let key in dataRecord){
        if(key !== 'id' && key !== '__typename' && dataRecord[key] !== undefined){
          var v = dataRecord[key];
          switch(this.$props.model[key].type){
            case 'number':
              v = parseInt(dataRecord[key])
              break;
            case 'checkbox':
              v = Boolean(dataRecord[key]);
              break;
            case 'date':
              v = new Date(dataRecord[key]);
              v = v.toISOString().split("T")[0];
              break;
            case 'datetime':
              v = new Date(dataRecord[key]);
              v.setHours(v.getHours() + 1);
              v = v.toISOString();
              break;
            case 'select':
              if(typeof v === 'object'){
                v = v.id;
              }
              break;
            case 'media':
              newData.files = v;
              newData.refId = this.$props.parent.id;
              newData.ref = this.$props.parent.clubname;
          }
          newData[key] = v;
        }
      }
      //noch übrig von sub list
      // if (this.$props.model.key !== undefined && this.editedIndex === -1) {
      //   newData[this.$props.model.key] = this.$props.parent.id;
      // }
      return newData;
    }
  },
  watch: {
    listName(){
      this.filter = [];
      this.search = '';
    },
    dialog(val) {
      val || this.close()
    },
    dialogDelete(val) {
      val || this.closeDelete()
    },
    page(current, old) {
      if (current > old) {
        this.first = this.first + this.itemsPerPage;
      } else if (current === 1) {
        this.first = 0;
      } else {
        this.first = this.first - this.itemsPerPage;
      }
      if (current !== old) {
        this.$apollo.queries.items.refetch();
      }

    },
    search(current) {
      if (current !== '') {
        this.page = 1;
      }
    }
  },
  errorCaptured(err) {
    this.error = err.message;
    console.error(err);
    return false;
  },
  methods: {
    reload(){
      const that = this;
      that.loading = true;
      async function refresh(){
        await Promise.all([
          that.$apollo.queries.itemsConnection.refetch(),
          that.$apollo.queries.items.refetch()
        ]);
        that.loading = false;
      }
      refresh();
    },
    isTextField(type){
      switch(type){
        case 'select':
        case 'textarea':
        case 'checkbox':
        case 'date':
        case 'datetime':
        case 'media':
          return false;
        default:
          return true;
      }
    },
    editItem (item) {
      this.editedIndex = this.tableItems.indexOf(item);
      this.editedItem = Object.assign({},this.editedItem, this.items[this.editedIndex]);
      //fix date time issue (vuetify date items are expeting a datestring without T and Z)
      for(let field in this.editedItem){
          if(this.$props.model[field] && this.$props.model[field].type === 'datetime'){
              this.editedItem[field] = helpers.getDatePickerString(this.editedItem[field],true);
            // if(!isNaN(new Date(this.editedItem[field]))){
            //   this.editedItem[field] = new Date(this.editedItem[field]).toISOString().split("T")[0] + " " + new Date(this.editedItem[field]).toISOString().split("T")[1].substr(0,5);
            // }else{
            //   this.editedItem[field] = null;
            // }
          }else if(this.$props.model[field] && this.$props.model[field].type === 'date'){
            this.editedItem[field] = helpers.getDatePickerString(this.editedItem[field]);
            // if(!isNaN(new Date(this.editedItem[field]))){
            //   this.editedItem[field] = new Date(this.editedItem[field]).toISOString().split("T")[0]
            // }else{
            //   this.editedItem[field] = null;
            // }
          }
      }
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = this.tableItems.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      let that = this;
      that.loading = true;
      that.$apollo.mutate({
        mutation: gql`mutation ($id: ID!) {
          delete${that.$props.typeKey}(
            input:{
              where: {id:$id}
            }){
            ${that.$props.mutationKey} {
              id
            }
          }
        }`,
        variables:{
           id: this.tableItems[this.editedIndex].id
         }
      })
      .catch(function(er){
        that.error = er;
        throw(er);
      })
      .then(function(){
        if(that.model.type==='media'){
          that.items[0].uploads.splice(that.editedIndex, 1);
        }else{
          that.items.splice(that.editedIndex, 1);
          that.itemsConnection.aggregate.count += -1;
        }
        that.success();
      },that.failed);
    },

    close() {
      this.dialog = false;
      this.error = null;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete() {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    success() {
      this.loading = false;
      this.close();
      this.closeDelete();
      this.error = null;
    },
    failed(er) {
      console.error(er);
      this.error = er.message + '\n\n';
      if(er.networkError !== undefined && er.networkError.result !== undefined && er.networkError.result.errors.length > 1){
        for (var i = 0; i < er.networkError.result.errors.length; i++) {
          this.error += er.networkError.result.errors[i].message
        }
      }
      this.loading = false;
    },
    save () {
      this.loading = true;
      try{
        let that = this;
        if (that.editedIndex > -1) {
          that.$apollo.mutate({
            mutation: gql`mutation ($id: ID!, $item: edit${that.$props.typeKey}Input) {
              update${that.$props.typeKey}(
                input:{
                  where: {id:$id}
                  data: $item
                }){
                ${that.$props.mutationKey} {
                  id
                }
              }
            }`,
            variables:{
               id: that.tableItems[that.editedIndex].id,
               item: that.newData
             }
            }).then(function(){
              that.$apollo.queries.items.refetch();
              that.$apollo.queries.itemsConnection.refetch();
              that.success();
            },that.failed);
        } else {
          //create record
          let tempCopy = Object.assign({},that.newData);
          let createMutation = that.$props.createMutation || that.$props.mutationKey;
          let apolloObject = {
            mutation: gqlCreator.create(that.$props.typeKey,createMutation,that.$props.model,this.queryFields),
            variables:{
               item: tempCopy
             }
           };
           that.$apollo.mutate(apolloObject)
             .then(function(){
               that.$nextTick(function () {
                 //let typeKey = that.$props.model.typeKey || that.$props.typeKey;
                 // let mutationKey = that.$props.model.mutationKey || that.$props.mutationKey;
                 // that.items.unshift(re.data['create'+typeKey][mutationKey]);
                 // that.itemsConnection.aggregate.count += 1;
                that.$apollo.queries.items.refetch();
                that.$apollo.queries.itemsConnection.refetch();
                that.success();
               })
             },that.failed);
        }
      }catch(er){
        this.failed(er);
      }
    },
  },
  created() {
    this.$watch(vm => [vm.sortBy, vm.sortDesc].join(), () => {
      this.$apollo.queries.items.refetch();
      this.$apollo.queries.itemsConnection.refetch();
    })
  },
  apollo: {
      items: {
        query(){
            return gqlCreator.query(this.$props.model,this.$props.listName,{
              qVars:'sort: $sort, start: $start, limit: $limit, where: $where',
              qSpec:'$sort: String, $start: Int, $limit: Int, $where: JSON'
            },this.queryFields);
        },
        variables() {
          return {
            sort: this.orderBy,
            start: this.first,
            limit: this.itemsPerPage,
            where: this.where
          }
        },
        update (data) {
            return data[this.$props.listName];
        },
      },
      itemsConnection:{
        query(){
          return gqlCreator.query('count',this.$props.listName);
        },
        variables() {
          return {where:this.where}
        },
        update (data) {
          return data[this.$props.listName+'Connection'];
        },
      }
  }
}
</script>
